.footer {
    background: #09141d;
    padding: 45px 9% 20px;
    border-top: 1px solid #263943;
}

.columnas {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.2fr;
    gap: 40px;
}

.columnas h3 {
    font-size: 18px;
    margin-bottom: 13px;
}

.columnas h3 span {
    color: #b88a32;
    font-size: 12px;
}

.columnas h4 {
    color: #b88a32;
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    margin-bottom: 15px;
}

.columnas p {
    color: #66757d;
    font-size: 14px;
    line-height: 1.7;

    max-width: 200px;
}

.columnas a {
    display: block;
    color: #66757d;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 9px;
}

.columnas a:hover {
    color: #c9942d;
}

.final {
    margin-top: 35px;
    padding-top: 15px;
    border-top: 1px solid #263943;
    display: flex;
    justify-content: space-between;
    color: #46555d;
    font-size: 12px;
}
